* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* regole header */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #add8e7;
    height: 80px;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    /* margin: 0 20%; */
    /* debug */
    background-color: #d8a81d;
    height: 40px;

}

a {
    text-decoration: none;
}

/* regole navigazione header */

ul.list-mainnav {
    display: flex;
    justify-content: center;
    flex-basis: 50%;
    gap: 10px;
}

ul.list-mainnav li, ul.list-footnav li {
    list-style: none;
}

/* regole button */

.button {
    /* colore di test */
    background-color: white;
    border-radius: 5px;
}

/* regole jumbotron */

.jumbotron {
    display: flex;
    justify-content: center;
    align-items: center;
    /* debug */
    background-color: #00018b;
    height: 250px;
}

.jumbotron div {
    width: 50%;    
    /* debug */
    background-color: #ef82ed;
    height: 200px;
}

/* regole container */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* debug */
    height: 300px;

}

.cont-big {
    /* debug */
    height: 500px;
}

.cont-small {
    border-top: 2px solid white;
    /* debug */
    height: 80px;
}

/* regole colori container */

.cont-grey {
    /* debug */
    background-color: #d3d3d3;
}

.cont-black {
    /* debug */
    background-color: #23272a;
}


/* regole main */

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.section-big {
    flex-basis: 70% ;
    /* debug */
    background-color: #218b21;
    height: 400px;
}


.img {
    flex-basis: 40%;
    /* debug */
    background-color: #1e90ff;
    height: 250px;
}

.text {
    flex-basis: 30%;
    /* debug */
    background-color: #ffc0ca;
    height: 250px;
}

/* regole footer */

.footer {
    flex-basis: 20%;
    /* debug */
    background-color: #f08180;
    height: 300px;
}

.footer-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-basis: 50%;
    /* debug */
    background-color: #20b3aa;
    height: 300px;
}

.footer-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    /* debug */
    background-color: #7fffd4;
}

.sub-footer {
    display: flex;
    flex-direction: column;
}

/* regole navigazione footer */

ul.list-footnav {
    display: flex;
    justify-content: space-around;
    flex-basis: 100%;

} 